ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Optional: change background color */
    height: 100%; /* Ensure this is set correctly */
    padding: 16px;
    --background: #ffffff; /* Set default background */
    font-family: 'Times New Roman', Times, serif;
   
}
@font-face {
    font-family:'Quicksand' ;
    src: url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
}

.rounded-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid black;
    
 }
 .coustom{
    display:flex;
    height: 150px; /* Adjust the height as needed */
    margin-bottom: 50px;
 }
 
.col1{
    margin-top: 60px;
    text-align: right;
}
.t1, .t2, .t3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-bottom: 10px; /* Adjust the spacing between text elements */
    color:#F8C71E;
  }
  .t1{
    margin-right: 20px;
    font-size: 34px;
    font-weight: bold;
    color:#F8C71E;

  }
  .t2{
    font-size: 18px;
    margin-right: 40px;
  }
  .t3{
    font-size: 18px;
    margin-right: 60px;
    color:#F8C71E;
  }
.col2{
   display:flex;
   justify-content: center;
    align-items: center;
    margin-top: 30px;
   
}
#te{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: black;
    font-weight: bold;
margin-right: 5px;
}
.custom-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  width: 350px;
  margin-right: 20px;
   /* Set a fixed height for the button */
}

.custom-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.custom-content ion-text {
  margin-top: auto;
}
.custom-tab-bar {
    --background: white;  /* Set the background to white */
    --color: black;       /* Set the default icon color to black */
    --color-selected: black; /* Set the selected icon color to black */
  }
  
  ion-tab-button {
    --ripple-color: transparent; /* Remove ripple effect */
  }

  ion-menu{
    ---background:white;
  }